name: CI

on:
  push:
    branches: ["master"]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0

      - name: dotnet test
        working-directory: src
        run: dotnet test --configuration Release

      - name: dotnet publish
        working-directory: src
        run: dotnet publish ActionTest.API/ActionTest.API.csproj --configuration Release -o ../artifacts

      - uses: actions/upload-artifact@v4
        with:
            name: actiontest-artifact
            path: artifacts/